<!DOCTYPE html>
<html>
	<head>
		<title>Erreur</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<link href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" rel="stylesheet" crossorigin="anonymous" />
		<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js" crossorigin="anonymous"></script>
	</head>
	<body>
			<div class="alert alert-danger" style="text-align:center;">
				Acces interdit, vous n'avez pas les droits d'acces à cette page!
			</div>
	</body>
</html>